# Byte-compiled / optimized / DLL files
# Environment Variables (API Keys and Secrets)
.env

# Local Uploads folder (Storage for PDFs)
upload_docs/

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
# Virtual Environment (Packages)
.venv/
venv/
env/
venv/
ENV/

# Project specific uploads
# You don't want to commit the PDF files users upload to your GitHub
upload_docs/
# Project specific metadata
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

